<h2>settings</h2>

<form action="/settings" method="POST">
    <%- include('_form_fields')  %> 
    <button type="submit">Create</button>
    <a href="/books">Cancel</a>
</form>

<% companys.forEach(e => {%>
    <div> <%= e.companyName  %> </div>
    <br>
<% }) %> 