<header class="shadow">
    <h1>Work Log App</h1>
    <nav>
        <ul>
            <li><a href="/worklog">Work Log</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/">Log Off</a></li>
        </ul>
    </nav>
</header>