<header class="shadow">
    <h1>Work Log App</h1>
    <nav>
        <ul>
            <li><a href="/worklog">Work Log</a></li>
            <li><a href="/history">history</a></li>
            <li><a href="/settings">settings</a></li>
        </ul>
    </nav>
</header>