<header>
    <nav>
        <!-- <a href="/">Mybrary</a> -->
        <ul>
            <li><a href="/history">history</a></li>
            <li><a href="/settings">settings</a></li>
            <li><a href="/worklog">Work Log</a></li>
        </ul>
    </nav>
</header>