<div class="section">
    <div class="label">Query</div>
    <form action="/history" method="GET">
        <select name="companyName">
            <option value="">All</option>
            <%- include('../partials/opiton_companys', {companys: companys, selected: ''})%>
        </select>
        <div>
            <label for="endedAfter">After</label>
            <input type="date" name="endedAfter" id="endedAfter" value="<%= searchOptions.endedAfter %>">
        </div>
        <div>
            <label>Before</label>
            <input type="date" name="endedBefore" id="endedBefore" value="<%= searchOptions.endedBefore %>">
        </div>
        <button type="submit">Search</button>
    </form>
    <button id='last-month-btn'>Last Month</button>
</div>



<div class="section">
    <div class="label">History</div>
    <%- include('../partials/history_table', {tasks: tasks}) %> 
</div>
